@import url('/node_modules/bootstrap/scss/bootstrap.scss');

.Background_image{
    background-image: url('../assets/Images/Group\ 20.svg');
    background-repeat: no-repeat;
    background-size:contain;
    background-size: 50%;
    height: 100vh;
    
 
  
}
